#include "Generated.xcconfig"

#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-demo.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-demo.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER=com.savannah.myafyahub
FLUTTER_TARGET=lib/bin/main_demo.dart
APP_NAME=myCareHub Demo
