name: ProHealth360 CI/CD Workflow

on: [push]

jobs:
  publish-demo-binary-to-app-store:
    name: Publish ProHealth360 Demo binary to TestFlight
    timeout-minutes: 40
    runs-on: macos-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/alpha'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12"

      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6

      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
          flutter-version: "3.0.4"

      - name: Install flutter dependencies
        run: flutter pub get

      - name: Setup environment items
        env:
          GC_KEYS: ${{ secrets.GC_KEYS }}
          ENCODED_APP_ENV: ${{ secrets.ENCODED_APP_ENV }}
          GOOGLE_SERVICES_INFO_PLIST_FILE: ${{secrets.GOOGLE_SERVICES_INFO_PLIST_FILE}}
          INFO_PLIST_FILE: ${{secrets.INFO_PLIST_FILE}}

        run: |
          touch .env
          echo $ENCODED_APP_ENV | base64 --decode > .env
          cd ios
          touch gc_keys.json
          echo $GC_KEYS >> gc_keys.json
          echo $INFO_PLIST_FILE > ./Runner/info.plist
          echo $GOOGLE_SERVICES_INFO_PLIST_FILE > ./Runner/GoogleService-Info.plist

      - name: Code sign and build demo app
        env:
          APPLE_API_KEY_ID: ${{secrets.APPLE_API_KEY_ID}}
          APPLE_ISSUER_ID: ${{secrets.APPLE_ISSUER_ID}}
          APPLE_API_KEY_CONTENT: ${{secrets.APPLE_API_KEY_CONTENT}}
        run: |
          cd ios && bundle install
          bundle exec fastlane ios demo

  # AppStore ready
  publish-prod-binary-to-app-store:
    name: Publish ProHealth360 Prod binary to TestFlight
    timeout-minutes: 40
    runs-on: macos-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/prod'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12"

      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6

      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
          flutter-version: "3.0.4"

      - name: Install flutter dependencies
        run: flutter pub get

      - name: Setup environment items
        env:
          GC_KEYS: ${{ secrets.GC_KEYS }}
          ENCODED_APP_ENV: ${{ secrets.ENCODED_APP_ENV }}
          GOOGLE_SERVICES_INFO_PLIST_FILE: ${{secrets.GOOGLE_SERVICES_INFO_PLIST_FILE}}
          INFO_PLIST_FILE: ${{secrets.INFO_PLIST_FILE}}

        run: |
          touch .env
          echo $ENCODED_APP_ENV | base64 --decode > .env
          cd ios
          touch gc_keys.json
          echo $GC_KEYS >> gc_keys.json
          echo $INFO_PLIST_FILE > ./Runner/info.plist
          echo $GOOGLE_SERVICES_INFO_PLIST_FILE > ./Runner/GoogleService-Info.plist

      - name: Code sign and build prod app
        env:
          APPLE_API_KEY_ID: ${{secrets.APPLE_API_KEY_ID}}
          APPLE_ISSUER_ID: ${{secrets.APPLE_ISSUER_ID}}
          APPLE_API_KEY_CONTENT: ${{secrets.APPLE_API_KEY_CONTENT}}
        run: |
          cd ios && bundle install
          bundle exec fastlane prod